[package]
name = "frawk"
version = "0.1.0"
authors = ["Eli Rosenthal <ezrosenthal@gmail.com>"]
edition = "2018"


[dependencies]
elsa = "1.3.2"
petgraph = "0.4.13"
smallvec = "0.6.10"
hashbrown = "0.3"
stable_deref_trait = "1.1.1"
lazy_static = "1.4.0"
regex = "1.3"
ryu = "1.0"
libc = "0.2"
jemallocator = { version = "0.3", optional = true }
rand = "0.7.3"
lalrpop-util = "0.17.2"
unicode-xid = "0.2.0"
llvm-sys = {version = "90.0.0", optional = true }
clap = "3.0.0-beta.1"
crossbeam-channel = "0.4"
crossbeam = "0.7.3"
num_cpus = "1.13.0"
cfg-if = "0.1"

[features]
default = ["use_jemalloc", "allow_avx2", "llvm_backend"]
use_jemalloc = ["jemallocator"]
# Certain features leverage the AVX2 instruction set, but AVX2 can often make
# the entire application slightly slower, even on chips that support it. As a
# result, we default to SSE2 implementations unless this feature is enabled.
allow_avx2 = []
llvm_backend = ["llvm-sys"]

[profile.release]
lto = "fat"
# debug = true
# codegen-units = 1

[build-dependencies]
lalrpop = "0.17.2"
